.value__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 64px;
    padding-right: 48px;
    padding-bottom: 64px;
    padding-left: 48px;
}

.value-card__body-text {
    text-align: center;
    margin-top: 20px;
}

.value__grid-card {
    width: 390px;
    height: 360px;
    background-color: var(--gray);
}


.value__grid-item {
    width: 390px;
    height: 360px;
    background-color: var(--gray);
}


.value-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    text-align: center;

}
